<h2>Edit Question</h2>

<%= form_for(@question) do |f| %>
  <p>
    <%= f.label :title %> <br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </p>

  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>

  <%= f.submit %>
<% end %>
